@use 'rs';
@use 'color';

/* Blog CSS */

.blog-card {
   transition-duration: 350ms;
   border-radius: 18px;
   overflow: hidden;
   position: relative;
   z-index: 1;
   border-radius: 18px;
   background: color.$secondary;
   display: flex;
   align-items: center;

   img {
      border-radius: 18px 18px 0 0;
      width: 100%;
      transition-duration: 350ms;
   }

   .post-img {
      flex: 0 0 35%;
      width: 35%;
      border-radius: 18px 0 0 18px;
      overflow: hidden;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      @media #{rs.$bp-sm} {
         flex: 0 0 50%;
         width: 50%;
      }

      img {
         width: 100%;
         border-radius: 18px 0 0 18px;
         height: 100%;
         object-fit: cover;
      }
   }

   .post-body {
      padding: 20px 28px 28px;
      border-radius: 0 0 18px 18px;
      background-color: color.$secondary;
      flex: 0 0 65%;
      width: 65%;
      border: 0;
      padding: 30px;
      margin-left: 35%;

      @media #{rs.$bp-sm} {
         flex: 0 0 50%;
         width: 50%;
         margin-left: 50%;
      }

      @media #{rs.$bp-md} {
         padding: 40px 30px;
      }
   }

   .blog-meta {
      margin-bottom: 10px;

      a {
         color: color.$text;
         font-size: 16px;
         font-weight: 400;
         display: block;

         &:hover,
         &:focus {
            color: color.$success;
         }
      }

      .dot {
         width: 5px;
         height: 5px;
         background-color: color.$text;
         border-radius: 50%;
      }
   }

   .post-title {
      position: relative;
      z-index: 1;
      color: color.$heading;
      transition-duration: 350ms;
      background-image: linear-gradient(currentColor, currentColor);
      background-size: 0% 2px;
      background-repeat: no-repeat;
      background-position: 0 100%;
      transition: background-size 0.5s ease;
      font-size: 20px;
      font-weight: 700;

      @media #{rs.$bp-lg} {
         font-size: 22px;
      }

      @media #{rs.$bp-xl} {
         font-size: 24px;
      }

      &:hover,
      &:focus {
         background-size: 100% 2px;
      }
   }

   &:hover,
   &:focus {
      img {
         transform: scale3d(1.05, 1.05, 1.05);
      }
   }

   &.style-two {
      border-radius: 18px;
      background: color.$secondary;
      display: flex;
      flex-direction: column;

      .post-img {
         position: relative;
         border-radius: 18px 18px 0 0;
         overflow: hidden;
         flex: 0 0 100%;
         width: 100%;
         max-width: 100%;

         img {
            width: 100%;
            border-radius: 18px 18px 0 0;
         }
      }

      .post-body {
         padding: 20px 28px 24px;
         flex: 0 0 100%;
         width: 100%;
         max-width: 100%;
         margin-left: 0;
      }
   }
}

.blog-card-two {
   transition-duration: 350ms;

   .post-img {
      position: relative;
      z-index: 1;
      border-radius: 18px;

      img {
         width: 100%;
         border-radius: 18px;
      }

      .post-date {
         position: absolute;
         bottom: 24px;
         right: 24px;
         z-index: 2;
         width: 80px;
         height: 80px;
         flex-shrink: 0;
         border-radius: 10px;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 4px;

         span {
            color: color.$white;
            line-height: 1.1;

            &:first-child {
               font-size: 24px;
               font-weight: 700;
            }

            &:last-child {
               font-size: 18px;
               font-weight: 400;
            }
         }
      }
   }

   .post-title {
      position: relative;
      z-index: 1;
      color: color.$warning-hover;
      font-weight: 700;
      line-height: 1.5;
      transition-duration: 350ms;
      background-image: linear-gradient(currentColor, currentColor);
      background-size: 0% 2px;
      background-repeat: no-repeat;
      background-position: 0 100%;
      transition: background-size 0.5s ease;
      font-size: 20px;

      @media #{rs.$bp-lg} {
         font-size: 22px;
      }

      @media #{rs.$bp-xl} {
         font-size: 24px;
      }

      &:hover,
      &:focus {
         background-size: 100% 2px;
      }
   }

   .blog-meta {
      a {
         color: color.$text-two;
         display: flex;
         align-items: center;
         gap: 6px;

         &:hover,
         &:focus {
            color: color.$info;
         }
      }
   }

   .btn {
      padding: 10px 20px;
      font-size: 14px;
      height: 40px;
   }

   &:hover,
   &:focus {
      transform: translateY(-8px);
   }

   &.theme-two {
      .blog-meta {
         a {
            color: color.$text-two;

            &:hover,
            &:focus {
               color: color.$warning;
            }
         }
      }
   }
}

.blog-card-three {
   transition-duration: 350ms;

   .post-img {
      position: relative;
      z-index: 1;
      border-radius: 18px;
      margin-bottom: 30px;

      img {
         width: 100%;
         border-radius: 18px;
      }
   }

   .post-title {
      position: relative;
      z-index: 1;
      color: color.$warning-hover;
      font-weight: 700;
      line-height: 1.5;
      transition-duration: 350ms;
      background-image: linear-gradient(currentColor, currentColor);
      background-size: 0% 2px;
      background-repeat: no-repeat;
      background-position: 0 100%;
      transition: background-size 0.5s ease;
      font-size: 24px;

      @media #{rs.$bp-lg} {
         font-size: 28px;
      }

      @media #{rs.$bp-xl} {
         font-size: 32px;
      }

      @media #{rs.$bp-xxl} {
         font-size: 36px;
      }

      &:hover,
      &:focus {
         background-size: 100% 2px;
      }
   }

   .blog-meta {
      a {
         color: color.$text-two;
         display: flex;
         align-items: center;
         gap: 6px;

         &:hover,
         &:focus {
            color: color.$success;
         }
      }
   }

   &:hover,
   &:focus {
      transform: translateY(-8px);
   }
}

.blog-section {

   &.theme-two,
   &.theme-three {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
   }

   &.theme-two {
      border-radius: 18px;
      background-image: url("assets/img/core-img/shape7.png");
   }

   &.theme-three {
      background-image: url("assets/img/core-img/shape6.png");
   }
}

/* Single Blog */

.blog-widget {
   background-color: color.$secondary;
   padding: 40px 36px;
   border-radius: 18px;
   width: 100%;

   form {
      display: flex;
      align-items: center;
      gap: 12px;

      .form-control {
         background-color: color.$white;
         border-radius: 8px;
         height: 50px;
         color: color.$text;
         border: 0;

         &::placeholder {
            color: color.$text;
            opacity: 0.7;
         }

         &:focus {
            box-shadow: none;
         }
      }

      button {
         transition-duration: 350ms;
         width: 58px;
         flex: 0 0 58px;
         height: 50px;
         display: flex;
         align-items: center;
         justify-content: center;
         background-color: color.$success;
         color: color.$white;
         border-radius: 8px;
         border: 0;

         &:hover,
         &:focus {
            background-color: color.$success-hover;
            color: color.$white;
         }
      }
   }
}

.blog-list {
   padding: 0;
   list-style: none;
   display: flex;
   flex-direction: column;
   margin-bottom: 0;
   gap: 14px;

   li {
      a {
         position: relative;
         z-index: 1;
         width: 100%;
         height: 50px;
         color: color.$text;
         background-color: color.$white;
         border-radius: 8px;
         font-size: 16px;
         padding: 1rem;
         display: flex;
         align-items: center;
         justify-content: space-between;
         font-weight: 400;
         transition-duration: 500ms;

         span {
            transition-duration: 500ms;
            position: absolute;
            top: 0;
            right: 0;
            width: 60px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            font-weight: 400;
            border-radius: 0px 8px 8px 0px;
            z-index: 10;
         }

         &:hover,
         &:focus {
            color: color.$white;
            background-color: color.$success;

            span {
               background: #2C8C57;
            }
         }
      }
   }
}

.widget-blog-post {
   display: flex;
   align-items: center;
   gap: 18px;

   .blog-thumbnail {
      width: 80px;
      flex-shrink: 0;
      border-radius: 10px;

      @media #{rs.$bp-xl} {
         width: 90px;
      }

      @media #{rs.$bp-xxl} {
         width: 110px;
      }

      img {
         width: 100%;
         border-radius: 10px;
      }
   }

   .blog-content {
      a {
         margin-bottom: 0.25rem;
         font-size: 16px;
         font-weight: 700;
         overflow: hidden;
         text-overflow: ellipsis;
         margin-bottom: 0;
         display: -webkit-box;
         -webkit-box-orient: vertical;
         -webkit-line-clamp: 2;

         @media #{rs.$bp-xl} {
            font-size: 20px;
         }

         &:hover,
         &:focus {
            color: color.$success;
         }
      }

      p {
         font-size: 14px;
      }
   }
}

.tag-list {
   display: flex;
   gap: 14px;
   flex-wrap: wrap;

   a {
      padding: 6px 20px;
      height: 40px;
      color: color.$heading;
      font-size: 16px;
      font-weight: 400;
      display: block;
      border-radius: 6px;
      background-color: color.$white;
      transition-duration: 500ms;

      &:hover,
      &:focus {
         background-color: color.$success;
         color: color.$white;
      }
   }
}

.follow-nav {
   display: flex;
   align-items: center;
   gap: 12px;
   transition-duration: 350ms;

   a {
       width: 40px;
       height: 40px;
       border-radius: 50%;
       font-size: 18px;
       color: color.$white;
       background-color: color.$warning-hover;
       border: 1px solid color.$success;
       transition: all 350ms ease;
       display: flex;
       align-items: center;
       justify-content: center;

       &:hover,
       &:focus {
           background-color: color.$success;
           border-color: color.$success;
           color: color.$white;
       }
   }
}

.touria-pagination {
   display: flex;
   align-items: center;
   gap: 12px;
   justify-content: center;

   li {
      a {
         display: flex;
         align-items: center;
         justify-content: center;
         width: 36px;
         height: 36px;
         border-radius: 50%;
         font-size: 14px;
         font-weight: 700;
         background-color: color.$secondary;
         color: color.$heading;

         i {
            font-size: 18px;
         }

         @media #{rs.$bp-sm} {
            width: 42px;
            height: 42px;
         }

         @media #{rs.$bp-md} {
            width: 48px;
            height: 48px;
            font-size: 16px;
         }

         @media #{rs.$bp-xl} {
            width: 60px;
            height: 60px;

            i {
               font-size: 18px;
            }
         }

         &:hover,
         &:focus {
            background-color: color.$success;
            color: color.$white;
         }
      }

      &.active {
         a {
            background-color: color.$success;
            color: color.$white;
         }
      }
   }
}

.blog-quote {
   border-radius: 18px;
   background: color.$secondary;
   padding: 30px 24px;
   display: flex;
   flex-direction: column;
   gap: 24px;

   p {
      color: color.$text;
      font-size: 18px;
   }

   h5 {
      display: flex;
      align-items: center;
      color: color.$primary;
      gap: 4px;

      span {
         width: 55px;
         height: 1px;
         background-color: color.$primary;
      }
   }
}

.blog-comments-list {
   display: flex;
   flex-direction: column;
   gap: 30px;
   list-style: none;
   padding: 0;

   ul {
      list-style: none;
      padding-left: 24px;

      @media #{rs.$bp-sm} {
         padding-left: 48px;
      }

      @media #{rs.$bp-md} {
         padding-left: 64px;
      }

      @media #{rs.$bp-lg} {
         padding-left: 80px;
      }

      @media #{rs.$bp-xl} {
         padding-left: 124px;
      }
   }

   .single-comment {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .comment-img {
         img {
            width: 70px;
            max-width: 70px;
            flex: 0 0 70px;
            border-radius: 18px;

            @media #{rs.$bp-xl} {
               width: 110px;
               max-width: 110px;
               flex: 0 0 110px;
            }
         }
      }
   }
}

.comment-form {
   .form-control {
      background-color: color.$secondary;
   }
}

.tag-share-wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 48px;
   padding-top: 20px;
   padding-bottom: 20px;
   border-top: 1px solid rgba(31, 30, 33, 0.20);
   border-bottom: 1px solid rgba(31, 30, 33, 0.20);

   .tag-list {
      display: flex;
      align-items: center;
      gap: 10px;

      li {
         font-size: 16px;
         font-weight: 700;

         a {
            border-radius: 4px;
            border: 1px solid rgba(31, 30, 33, 0.20);
            padding: 0px 12px !important;
            color: color.$text;
            transition-duration: 350ms;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover,
            &:focus {
               background-color: color.$primary;
               color: color.$white;
            }
         }
      }
   }

   .share-list {
      display: flex;
      align-items: center;
      gap: 10px;

      li {
         font-size: 16px;
         font-weight: 700;

         a {
            padding: 0px 6px !important;
            color: color.$text;
            font-size: 18px;

            &:hover,
            &:focus {
               color: color.$primary;
            }
         }
      }
   }
}

.blog-list-wrapper {
   display: flex;
   flex-direction: column;
   gap: 60px;

   @media #{rs.$bp-lg} {
      gap: 80px;
   }
}

.single-blog-content {
   img {
      border-radius: 18px;
      width: 100%;
   }

   h1,
   .h1,
   h2,
   .h2,
   h3,
   .h3,
   h4,
   .h4,
   h5,
   .h5,
   h6,
   .h6 {
      margin-bottom: 0;
   }

   p {
      font-size: 16px;
      margin-bottom: 0;

      @media #{rs.$bp-lg} {
         font-size: 18px;
      }
   }

   .post-title {
      position: relative;
      z-index: 1;
      color: color.$heading;
      font-weight: 700;
      line-height: 1.5;
      transition-duration: 350ms;
      background-image: none;
      transition: background-size 0.5s ease;
      font-size: 30px;

      @media #{rs.$bp-xl} {
         font-size: 36px;
      }

      &:hover,
      &:focus {
         background-size: 100% 2px;
      }
   }
}