// Primary
$primary: #601FEB;

// Primary Hover
$primary-hover: #2d1feb;

// Secondary
$secondary: #F7F7F7;

// Heading
$heading: #161920;

// Text
$text: #767676;

// Text Hover
$text-hover: #585B6F;

// Text Two
$text-two: #535B5F;

// Border
$border: #767676;

// Background
$bg: #222222;

// Gray
$gray: #F7F5F2;

// White
$white: #FFFFFF;

// Success
$success: #3CB371;

// Success Hover
$success-hover: #161922;

// Warning
$warning: #F7921F;

// Warning Hover
$warning-hover: #141414;

// Info
$info: #02A5CE;

// Info Hover
$info-hover: #113d48;

// Danger
$danger: #DC3545;

// Danger Hover
$danger-hover: #2d1feb;