@use 'rs';
@use 'color';

/* FAQ CSS */

.faq-title {
   font-size: 24px;

   @media #{rs.$bp-sm} {
      font-size: 28px;
   }

   @media #{rs.$bp-xl} {
      font-size: 32px;
   }

   @media #{rs.$bp-xxl} {
      font-size: 36px;
   }
}

.faq-accordion {
   .accordion {
      display: flex;
      flex-direction: column;
   }

   .accordion-item {
      position: relative;
      border-radius: 12px;
      background: #F3F6FD;
      border: 0;
      margin-right: 85px;

      .accordion-button {
         border-radius: 10px;
         background: transparent;
         color: #1C3637;
         font-size: 18px;
         font-weight: 700;
         padding: 30px 24px 24px;

         @media #{rs.$bp-sm} {
            font-size: 22px;
         }

         @media #{rs.$bp-xl} {
            font-size: 24px;
         }

         &:focus {
            box-shadow: none !important;
         }

         &::after {
            width: 70px;
            height: 70px;
            position: absolute;
            right: -85px;
            top: 0;
            z-index: 10;
            border-radius: 50%;
            background-color: #1C3637;
            background-position: center;
            color: color.$white;
            background-image: url("data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2236%22%20height=%2236%22%20viewBox=%220%200%2024%2024%22%20fill=%22none%22%20stroke=%22white%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%3E%3Cpath%20stroke=%22none%22%20d=%22M0%200h24v24H0z%22%20fill=%22none%22/%3E%3Cpath%20d=%22M12%205l0%2014%22/%3E%3Cpath%20d=%22M5%2012l14%200%22/%3E%3C/svg%3E");
         }

         &:not(.collapsed) {
            box-shadow: none;
            color: color.$info;

            &::after {
               background-color: color.$info;
               transform: rotate(45deg);
            }
         }
      }

      .accordion-body {
         padding: 0 24px 30px;
         color: color.$text;
         font-size: 16px;
         border-radius: 0 0 10px 10px;

         @media #{rs.$bp-xl} {
            font-size: 18px;
         }
      }
   }

   &.style-two {
      .accordion-item {
         background-color: color.$secondary;
         margin-right: 0;

         .accordion-button {
            font-size: 18px;
            font-weight: 700;
            padding: 16px 24px;

            @media #{rs.$bp-xl} {
               font-size: 20px;
            }

            &::after {
               position: relative;
               right: 0;
               top: 0;
               width: 30px;
               height: 30px;
               background-color: color.$success;
               background-image: url("data:image/svg+xml,%3Csvg%20%20xmlns=%22http://www.w3.org/2000/svg%22%20%20width=%2224%22%20%20height=%2224%22%20%20viewBox=%220%200%2024%2024%22%20%20fill=%22none%22%20%20stroke=%22currentColor%22%20%20stroke-width=%222%22%20%20stroke-linecap=%22round%22%20%20stroke-linejoin=%22round%22%20%20class=%22icon%20icon-tabler%20icons-tabler-outline%20icon-tabler-chevron-down%22%3E%3Cpath%20stroke=%22none%22%20d=%22M0%200h24v24H0z%22%20fill=%22none%22/%3E%3Cpath%20d=%22M6%209l6%206l6%20-6%22%20/%3E%3C/svg%3E");
            }

            &:not(.collapsed) {
               box-shadow: none;
               border-radius: 10px 10px 0 0;
               color: color.$white;
               background-color: color.$success;

               &::after {
                  background-color: color.$white;
                  transform: rotate(0deg);
                  background-image: url("data:image/svg+xml,%3Csvg%20%20xmlns=%22http://www.w3.org/2000/svg%22%20%20width=%2224%22%20%20height=%2224%22%20%20viewBox=%220%200%2024%2024%22%20%20fill=%22none%22%20%20stroke=%22currentColor%22%20%20stroke-width=%222%22%20%20stroke-linecap=%22round%22%20%20stroke-linejoin=%22round%22%20%20class=%22icon%20icon-tabler%20icons-tabler-outline%20icon-tabler-chevron-up%22%3E%3Cpath%20stroke=%22none%22%20d=%22M0%200h24v24H0z%22%20fill=%22none%22/%3E%3Cpath%20d=%22M6%2015l6%20-6l6%206%22%20/%3E%3C/svg%3E");
               }
            }
         }

         .accordion-body {
            background-color: color.$success;
            font-size: 16px;
            color: color.$white;
            padding: 0 24px 16px 24px;
         }
      }
   }

   &.style-three {
      .accordion-item {
         background-color: color.$secondary;
         margin-right: 0;

         .accordion-button {
            font-size: 18px;
            font-weight: 700;
            padding: 16px 24px;

            @media #{rs.$bp-xl} {
               font-size: 20px;
            }

            &::after {
               position: relative;
               right: 0;
               top: 0;
               width: 30px;
               height: 30px;
               background-color: transparent;
               background-image: url("data:image/svg+xml,%3Csvg%20%20xmlns=%22http://www.w3.org/2000/svg%22%20%20width=%2224%22%20%20height=%2224%22%20%20viewBox=%220%200%2024%2024%22%20%20fill=%22none%22%20%20stroke=%22currentColor%22%20%20stroke-width=%222%22%20%20stroke-linecap=%22round%22%20%20stroke-linejoin=%22round%22%20%20class=%22icon%20icon-tabler%20icons-tabler-outline%20icon-tabler-chevrons-right%22%3E%3Cpath%20stroke=%22none%22%20d=%22M0%200h24v24H0z%22%20fill=%22none%22/%3E%3Cpath%20d=%22M7%207l5%205l-5%205%22%20/%3E%3Cpath%20d=%22M13%207l5%205l-5%205%22%20/%3E%3C/svg%3E");
            }

            &:not(.collapsed) {
               box-shadow: none;
               border-radius: 10px 10px 0 0;
               color: color.$white;
               background-color: color.$success;

               &::after {
                  background-color: color.$white;
                  transform: rotate(0deg);
                  background-image: url("data:image/svg+xml,%3Csvg%20%20xmlns=%22http://www.w3.org/2000/svg%22%20%20width=%2224%22%20%20height=%2224%22%20%20viewBox=%220%200%2024%2024%22%20%20fill=%22none%22%20%20stroke=%22currentColor%22%20%20stroke-width=%222%22%20%20stroke-linecap=%22round%22%20%20stroke-linejoin=%22round%22%20%20class=%22icon%20icon-tabler%20icons-tabler-outline%20icon-tabler-chevrons-down%22%3E%3Cpath%20stroke=%22none%22%20d=%22M0%200h24v24H0z%22%20fill=%22none%22/%3E%3Cpath%20d=%22M7%207l5%205l5%20-5%22%20/%3E%3Cpath%20d=%22M7%2013l5%205l5%20-5%22%20/%3E%3C/svg%3E");
               }
            }
         }

         .accordion-body {
            background-color: color.$secondary;
            font-size: 16px;
            color: color.$heading;
            padding: 16px 24px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            .faq-image {
               width: 160px;
               flex-shrink: 0;
            }

            @media #{rs.$bp-sm} {
               flex-wrap: nowrap;
            }
         }
      }
   }
}

/* Happy Counts */

.happy-counts {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 20px;
   width: 240px;
   height: 240px;
   border-radius: 50%;
   border: 1px solid color.$white;
   position: relative;
   z-index: 1;
   margin-left: auto;
   margin-right: auto;

   @media #{rs.$bp-lg} {
      width: 200px;
      height: 200px;
      gap: 10px;
   }

   @media #{rs.$bp-xl} {
      width: 250px;
      height: 250px;
      gap: 15px;
   }

   @media #{rs.$bp-xxl} {
      width: 280px;
      height: 280px;
   }

   &::before {
      content: '';
      position: absolute;
      top: 15px;
      left: 15px;
      width: calc(100% - 30px);
      height: calc(100% - 30px);
      border-radius: 50%;
      background-color: color.$success;
      z-index: -10;
   }

   .counter {
      font-size: 42px;
      color: color.$white;
      margin-bottom: 0;
      font-weight: 700;
      line-height: 1;

      @media #{rs.$bp-xl} {
         font-size: 48px;
      }

      @media #{rs.$bp-xxl} {
         font-size: 60px;
      }
   }

   h5 {
      color: color.$white;
      margin-bottom: 0;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1;

      @media #{rs.$bp-xl} {
         font-size: 20px;
      }
   }
}