@use 'rs';
@use 'color';

/* Shortcode CSS */

@font-face {
    font-family: 'Glyphter';
    src: url('assets/fonts/Glyphter.eot');
    src: url('assets/fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Glyphter.woff') format('woff'),
        url('assets/fonts/Glyphter.ttf') format('truetype'),
        url('assets/fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*='icon-'] {
    line-height: 0.6 !important;
}

[class*='icon-']:before {
    display: inline-block;
    font-family: 'Glyphter';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-arrow-up:before {
    content: '\0041';
}

.icon-arrow-down:before {
    content: '\0042';
}

.icon-arrow-left:before {
    content: '\0043';
}

.icon-arrow-right:before {
    content: '\0044';
}

// Shadow

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(47, 91, 234, .075) !important;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(47, 91, 234, .15) !important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(47, 91, 234, .175) !important;
}

// Buttons

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 12px 24px;
    gap: 6px;
    border-radius: 5rem;
    border: 0;
    font-weight: 700;
    position: relative;
    height: 48px;
    min-width: auto;
    text-transform: capitalize;
    overflow: hidden;
    transition: all 350ms;

    @media #{rs.$bp-xl} {
        height: 60px;
        padding: 16px 32px;
        font-size: 16px;
    }

    i {
        font-size: 140%;
        transition-duration: 350ms;
    }

    &:active,
    &:hover,
    &:focus {
        box-shadow: none;
        gap: 12px;
    }
}

.btn-primary {
    background-color: color.$primary;
    color: color.$white;

    &:active,
    &:hover,
    &:focus {
        background-color: color.$primary-hover;
        color: color.$white;
    }
}

.btn-success {
    background-color: color.$success;
    color: color.$white;

    &:active,
    &:hover,
    &:focus {
        background-color: color.$success-hover;
        color: color.$white;
    }
}

.btn-info {
    background-color: color.$info;
    color: color.$white;

    &:active,
    &:hover,
    &:focus {
        background-color: color.$info-hover;
        color: color.$white;
    }
}

.btn-warning {
    background-color: color.$warning;
    color: color.$white;

    &:active,
    &:hover,
    &:focus {
        background-color: color.$warning-hover;
        color: color.$white;
    }
}

.btn-danger {
    background-color: color.$danger;
    color: color.$white;

    &:active,
    &:hover,
    &:focus {
        background-color: color.$danger-hover;
        color: color.$white;
    }
}

.btn-light {
    background-color: color.$white;
    color: color.$heading;

    &:active,
    &:hover,
    &:focus {
        background-color: color.$success;
        color: color.$white;
    }
}

.btn-dark {
    background-color: color.$heading;
    color: color.$white !important;

    &:active,
    &:hover,
    &:focus {
        background-color: color.$white;
        color: color.$heading !important;
    }
}

.btn-link {
    position: relative;
    z-index: 1;
    color: color.$success;
    gap: 6px;
    padding: 0 !important;
    min-width: 0;
    height: auto;
    background-color: transparent;
    border: 0;
    text-decoration: none;
    border-radius: 0 !important;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        z-index: -1;
        background-color: color.$success;
        transition-duration: 350ms;
    }

    i {
        font-size: 20px;
        transition-duration: 350ms;
    }

    &:active,
    &:hover,
    &:focus {
        color: color.$success-hover;
        box-shadow: none;

        &::after {
            background-color: color.$heading;
            width: 50%;
        }
    }
}

.btn-group-sm>.btn,
.btn-sm {
    padding: .375rem 1.25rem;
    font-size: 12px;
    height: 37px;
    min-width: 100px;
}

.btn-outline-primary {
    border: 1px solid color.$primary;
    color: color.$primary;

    &:hover,
    &:focus {
        background-color: color.$primary;
        color: color.$white;
    }
}

.btn-outline-success {
    border: 1px solid color.$success;
    color: color.$success;

    &:hover,
    &:focus {
        background-color: color.$success;
        color: color.$white;
    }
}

.btn-outline-warning {
    border: 1px solid color.$warning;
    color: color.$warning;

    &:hover,
    &:focus {
        background-color: color.$warning;
        color: color.$white;
    }
}

.btn-outline-info {
    border: 1px solid color.$info;
    color: color.$info;

    &:hover,
    &:focus {
        background-color: color.$info;
        color: color.$white;
    }
}

.btn-outline-danger {
    border: 1px solid color.$danger;
    color: color.$danger;

    &:hover,
    &:focus {
        background-color: color.$danger;
        color: color.$white;
    }
}

.btn-outline-light {
    border: 1px solid color.$white;
    color: color.$white;

    &:hover,
    &:focus {
        background-color: color.$white;
        color: color.$primary;
    }
}

.btn-outline-dark {
    border: 1px solid color.$heading;
    color: color.$heading;

    &:hover,
    &:focus {
        background-color: color.$heading;
        color: color.$white;
    }
}

// Background Colors

.bg-primary {
    background-color: color.$primary !important;
}

.bg-secondary {
    background-color: color.$secondary !important;
}

.bg-success {
    background-color: color.$success !important;
}

.bg-danger {
    background-color: color.$danger !important;
}

.bg-warning {
    background-color: color.$warning !important;
}

.bg-info {
    background-color: color.$info !important;
}

.bg-dark {
    background-color: color.$heading !important;
}

.bg-gray {
    background-color: color.$gray !important;
}

// Text Colors

.text-primary {
    color: color.$primary !important;
}

.text-dark {
    color: color.$text !important;
}

.text-heading {
    color: color.$heading !important;
}

.text-success {
    color: color.$success !important;
}

.text-danger {
    color: color.$danger !important;
}

.text-warning {
    color: color.$warning !important;
}

.text-info {
    color: color.$info !important;
}

// Scroll Top

.touria-scrolltop {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    transition: all 350ms;
    z-index: 9999;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    color: color.$white;
    cursor: pointer;
    transform: translateY(100px);
    border-radius: 50%;
    border: 0 !important;
    box-shadow: none;
    background-color: color.$success;

    span {
        font-size: 1.75rem;
    }

    &.scrolltop-show {
        transform: translateY(0);
    }

    &.scrolltop-hide {
        transform: translateY(100px);
    }

    @media #{rs.$bp-lg} {
        width: 3rem;
        height: 3rem;
        bottom: 2rem;
        right: 2rem;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        background: conic-gradient(color.$success var(--scroll-progress), color.$success-hover 0);
        z-index: -1;
    }

    &.theme-two {
        &::before {
            background: conic-gradient(color.$warning var(--scroll-progress), color.$warning-hover 0);
        }
    }

    &.theme-three {
        &::before {
            background: conic-gradient(color.$info var(--scroll-progress), color.$info-hover 0);
        }
    }
}

// Divider

.divider {
    width: 100%;
    display: block;
    height: 60px;

    @media #{rs.$bp-sm} {
        height: 70px;
    }

    @media #{rs.$bp-md} {
        height: 85px;
    }

    @media #{rs.$bp-lg} {
        height: 100px;
    }

    @media #{rs.$bp-xl} {
        height: 110px;
    }

    @media #{rs.$bp-xxl} {
        height: 124px;
    }
}

.divider-sm {
    width: 100%;
    display: block;
    height: 50px;

    @media #{rs.$bp-md} {
        height: 60px;
    }
}

// Section Heading

.section-heading {
    .sub-title {
        font-size: 24px;
        margin-bottom: 0.25rem;
        text-transform: capitalize;
        font-family: "Montez", cursive !important;
        display: inline-block;

        @media #{rs.$bp-xl} {
            font-size: 28px;
        }

        @media #{rs.$bp-xxl} {
            font-size: 32px;
        }
    }

    h2 {
        font-size: clamp(30px, 4vw, 50px);
        line-height: 1.2;
        text-transform: capitalize;
        color: color.$heading;
    }

    p {
        @media #{rs.$bp-xl} {
            font-size: 18px;
        }
    }
}

// Rotating Image

.rotatingImage {
    transition: transform 0.1s linear;
}

// Search Popup

.search-bg-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: color.$heading;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 100000;
    visibility: hidden;
    transition: all 350ms;

    &.open {
        opacity: 0.95;
        visibility: visible;
    }
}

.search-form-popup {
    position: fixed;
    z-index: 100000;
    padding: 40px 32px;
    background-color: transparent;
    left: 50%;
    top: 50%;
    min-width: 280px;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transition: all 350ms;
    transform: scale(0.9) translate(-50%, -50%);
    text-align: center;

    @media #{rs.$bp-xs} {
        min-width: 360px;
    }

    @media #{rs.$bp-md} {
        min-width: 500px;
    }

    @media #{rs.$bp-lg} {
        min-width: 600px;
    }

    .close-btn {
        position: absolute;
        top: -1rem;
        right: -1rem;
        z-index: 1000;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 0;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.10);
        color: color.$white;
        transition: all 350ms;

        &:hover,
        &:focus {
            background-color: color.$white;
            color: color.$heading;
        }

        @media #{rs.$bp-md} {
            width: 50px;
            height: 50px;
            top: -2rem;
            right: -2rem;
        }
    }

    form {
        display: flex;
        gap: 30px;

        .form-control {
            width: 100%;
            height: 48px;
            border-radius: 0;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-bottom: 1px solid color.$white;
            background-color: transparent;
            color: color.$white;
            font-size: 16px;
            padding: 17px 24px;
            font-weight: 700;

            @media #{rs.$bp-xl} {
                font-size: 18px;
                height: 64px;
            }

            &::placeholder {
                color: color.$white;
                opacity: 0.85;
            }

            &:focus {
                box-shadow: none;
            }
        }

        .btn {
            border-radius: 8px;
            height: 48px;

            @media #{rs.$bp-xl} {
                height: 64px;
            }
        }
    }

    &.open {
        opacity: 1;
        visibility: visible;
        transform: scale(1) translate(-50%, -50%);
    }
}

.vbox-container {
    overflow-x: hidden;
    overflow-y: hidden;

    .vbox-child {
        border-radius: 18px;

        img {
            border-radius: 18px;
        }
    }
}

.vbox-close {
    top: 1rem;
    right: 1rem;
}